.about__text {
  text-align: center;
}

.about {
  width: 70%;
  padding: 3.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}


.about {
  padding-bottom: 85px;
}

.about__title {
  font-size: 2em;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 2.5em;
}

.about__title {
  margin-bottom: 1em;
}

.skills {
  width: 30%;
  border: solid rgb(134, 111, 111) 0.5px;
  border-radius: 2em;
}

.skills {
  padding: 1em 1em 1.5em;
  height: auto;
}

.skills {
  background-color: rgba(211, 211, 211, 0.1);
}

.skills__title {
  margin: 0 0 0.3em;
  color: $secondary-color;
  text-align: center;
  font-weight: bolder;
}

.skills__list {
  justify-content: center;
  margin-top: 0;
}

.skills__list {
  flex-wrap: wrap;
}

.skills__item {
  font-size: 0.8em;
  margin: 0.2em;
  border: solid lightgray 1px;
  padding: 0.4em 0.8em;
  border-radius: 0.8em;
  background-color: rgb(238, 238, 238);
}

.skills__item {
  padding: 0.4em 0.8em;
  background-color:$primary-color;
}


.about__link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about__link {
  border-radius: 0.6em;
  border: $secondary-color solid 1px;
  background-color: $primary-color;
  margin: 1.5em 0 3em;
  padding: 0.6em 0.6em;
  font-weight: 900;
  color: $secondary-color;
  transition: all ease-out 350ms;
  &:hover {
    color: white;
    background-color: $primary-color;
    border-color: $secondary-color;
  }
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skills__image {
  background-color: $secondary-color;
  text-align: center;
  width: 4em;
  height: 4em;
  margin: 1em auto;
  display: flex;
  border: lightgray solid 0.5px;
  border-radius: 50%;
  i {
    font-size: var(--fs-1);
    margin: auto;
  }
}