
.home {
   height: 100%;
   padding-top: 20vh;
   overflow: hidden;
   align-items: center;
   text-align: center;
   background: 
     linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
     ), 
     url('/assets/images/fred.png') center top;
   background-size: cover;

   &__name {
      font-size: 5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      font-weight: 900;
      color: $secondary-color;
      // border-bottom: 2px solid set-text-color($primary-color);
      &--last {
         color: $secondary-color;
         font-weight: 900;
      }
   }
  
  &__description,
  .about__text {
  margin-top: 0.5em;
  line-height: 1.6em;
  text-align: center;
}
}


.cover {
   width: 50%;
   margin: auto;
   height: 38rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: auto;
}