
@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 50%;
      text-align: center;
      
      &__item {
        display: inline;
        padding-right: 1.5rem;

      }

      &__link {
        font-size: 1rem;
      }
    }

    .menu-nav__hide {
      background: transparent;
    }
  }


  .projects {
    &__bg-image {
      height: 20vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-xl {
  .projects__bg-image {
    height: 40vh;
  }
}











@media (max-width: 769px) {
  .cover {
    width: 80%;
  }

  .about {
    width: 100%;
  }

  .about {
    padding-bottom: 3.5em;
  }

  .skills {
    width: 50%;
    padding: 1%;
    margin: 1rem auto;
   
  }
}