@import 'variables';
@import 'home';
@import 'menu';

body {
   background: $primary-color;
   color: set-text-color($primary-color);
   height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, verdana, sans-serif;
   line-height: 1;
}

ul {
   list-style: none;
   display: flex;
   padding: 0;
}

h1, h2, h3 {
   font-weight: 400;
}

a {
   color: set-text-color($primary-color);
   text-decoration: none;
   &:hover {
      color: inherit;
   }
}

header {
   position: fixed;
   z-index: 2;
   width: 100%;
   padding: 1rem;
}

main {
   height: 100%;
   width: 100%;

   .cover__social-icons {
      justify-self: center;
      a {
         padding: 0.4rem;
         @include transition-simple;
         &:hover {
            color: $secondary-color;
         }
      }
   }
}


.cover__social-icon {
   font-size: 1.3em;
   margin: 0 1em;
}

.cover__action {}








footer {
   font-size: 1rem;
   position: fixed;
   bottom: 0.4rem;
   right: 1rem;
   text-align: right;
   padding: 1rem;
   color: set-text-color($primary-color);
}