@media only screen and (max-width: 768px) {
   // .togg {
   //    margin-left: 20rem;
   // }

    .section-title {
        text-align: center;
        font-weight: 900;
    }

    .first-div {
        display: flex;
        justify-content: space-between;
    }

    .top-navbar {
        padding: 1rem;
    }

    .social-link-ul {
        display: none;
        justify-content:space-between;
        position: relative;
    }

    .social-link {
        position: static;
        margin-top: 30rem;
      //   justify-content: space-between;
      
    }

    .home-section {
        display: flex;
        position: static;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 2rem;
        margin-bottom: 15rem;
    }

    .abstract-section {
        margin-top: 3rem;
        position: static;
    }

    .h1-section {
        position: static;
    }

    .porfolio-section {
        width: 100%;
    }

    .top-footer-part {
        flex-direction: column;
    }

    .form-section {
        width: 95%;
        margin-top: 3rem;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .footer {
        height: auto;
        padding: 2rem;
    }

    .social-link-ul{
        padding-bottom: 3rem;
    }

    .abil-h3 {
        font-size: 36px;
        text-align: center;
    }

    .talent-section {
        flex-direction: column;
        align-content: center;
        font-size: 24px;
        text-align: center;
    }

    .frameworks {
        margin-top: 3rem;
    }

    .skills {
        margin-top: 3rem;
    }
    .message-me {
       display: block;
       justify-content: space-between;
    }
    .message-note {
       text-align: center;
    }
    .fredImage {
      display: block;
      // margin-left: auto;
      margin-right: auto;
      width: 50%;
      
    }
}

@media only screen and (max-width: 1100px) {
    .form-section {
        margin-top: 2rem;
        width: 95%;
        margin-left: 0;
    }

    .footer {
        height: auto;
    }

    .social-link-ul {
        padding-bottom: 3rem;
    }

    .abstract-image {
        width: 30%;
    }

    .porfolio-section {
        width: 95%;
    }

    .aboutme-section {
        width: 95%;
    }

}