$font-stack: 'Open sans', sans-serif;
$main-gradient: linear-gradient(to right, #141e30, #243b55);
$opposite-gradient: linear-gradient(to right, #243b55, #141e30);
$mid-night: linear-gradient(to right, #232526, #414345);
$nav-color: #3E3C3C;
$sec-proj-gradient: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, #141e30 84%);
$baby-blue: #B3C7D6FF;
$buttons-back: #5B5757;
$buttons-back-hover: #3a3939;
