.top-navbar {
   background: #3e3c3cd5;
   padding: 0 4rem;
}
.collapse {
   justify-content: flex-end;
}

button {
   border: none;
}
.navbar-logo {
   font-family: 'Open sans', sans-serif !important;
}
.top-navbar .nav-link, 
.navbar-logo {
   color:#FFFFFF !important;
   font-size: 1.3rem;
}
.nav-link:hover, .navbar-logo:hover {
    color: #daff0a !important;
    transform: scale(1.2);
}


.navbar-logo
.footer-ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-weight: 700;
   text-decoration: none !important;

}

a {
   text-decoration: none !important;
}

.h1-section {
   position: absolute;
   color: $white-color;
   top: 30%;
   left: 10%;
   font-weight: 500;
}