hr {
   height: 5px !important;
   border-radius: 10px !important; 
   background: linear-gradient(to left, blue, red) !important;
   width: 90% !important;
   margin: 0 auto !important;
    
}


.readmore {
    background-color: #e5f500 !important;
    text-decoration: none;
    color: black;
    padding: 0.7rem;
    top: 40%;
    left: 35%;
    border-radius: 5%;
    font-weight: 900;
}
.readmore:hover {
    color: red !important;
}



.porfolio-section {
    background: $white-color;
    margin: 0 auto;
    width: 100%;
    position: relative;
    margin-bottom: 13rem;
}

.daily-outlay {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.section-title {
    text-align: center;
    padding-top: 7rem;
}

.main-proj-img {
    width: 60%;
    margin: 1rem 0;
}

.secondary-projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secondary-project {
    width: 25rem;
    height: 15rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2%;
    position: relative;
}

.secondary-project:hover .project-link-hide {
    display: block;
}

.secondary-project:hover .proj-captions {
    display: none;
}

#first-project:hover {
    background: none, url(assets/weather/Weatherapp1.png) no-repeat center center;
    background-size: 100% 100%;
}

#second-project:hover {
    background: none, url(assets/shooter/shootter3.png) no-repeat center center;
    background-size: 100% 100%;
}

#fourth-project:hover {
    background: none, url(assets/webScraper/scraped_result.png) no-repeat center center;
    background-size: 100% 100%;
}

#fifth-project:hover {
    background: none, url(assets/concertPage/concertScreenshot.png) no-repeat center center;
    background-size: 100% 100%;
}

#first-project {
    background: $main-proj-gradient, url(assets/weather/Weatherapp1.png) no-repeat center center;
    background-size: 100% 100%;
}

#second-project {
    background: $main-proj-gradient, url(assets/shooter/shootter3.png) no-repeat;
    background-size: 100% 100%;
}

#fourth-project {
    background: $main-proj-gradient, url(assets/webScraper/scraped_result.png) no-repeat center center;
    background-size: 100% 100%;
}

#fifth-project {
    background: $main-proj-gradient, url(assets/concertPage/concertScreenshot.png) no-repeat center center;
    background-size: 100% 100%;
}


.project-link,
.project-link-hide {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.6rem;
    background-color: #889caa;
    border-radius: 8%;
    margin: 0.1rem;

}

.project-link-hide {
    display: none;
}

.project-link:hover {
    background-color: #667685;
    color: black;
}

.links-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
}

.proj-captions {
    position: absolute;
    color: white;
        

}

article {
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.514);
}

.carus-img {
    max-height: 25rem;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #a5a9b1;
    background-color: hsl(34, 85%, 46%);
}

.modal-content {
    color: black;
}

.project-details {
    padding: 0 2rem;
}