@import "config";
@import "nav-bar";
@import "projects";
@import "footer";
@import "@media";

html {
   font-family: $font-stack;
}
 body {
    background-color: black !important;
 }
 button {
    border: none;
 }


 // home page section

 .home-section {
    height: 40rem;
 }

 .social-link {
    top: 25%;
    position: absolute;
}

 .social-link-ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
}

.my-link {
    margin-top: 1rem;
}

.social-color {
    color: #999;
}




.social-color:hover {
    color: #d4d4d4 !important;
}

.h1-section {
    position: absolute;
    color: $white-color;
    top: 25%;
    left: 10%;
    font-weight: 550;
}

.primary-text {
 font-size:52px;
    color:#e5f500;
}

.text-h4 {
 margin-bottom: 0.9rem;
 color: $white-color;
}

.abstract-section {
    position: absolute;
    right: 5%;
    top: 29%;
    display: flex;
    justify-content: flex-end;
}

.abstract-image {
    width: 50%;
    margin: 0;
    padding: 0;
}