.top-navbar {
  background: #3e3c3cd5;
  padding: 0 4rem;
}

.collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button {
  border: none;
}

.navbar-logo {
  font-family: 'Open sans', sans-serif !important;
}

.top-navbar .nav-link,
.navbar-logo {
  color: #FFFFFF !important;
  font-size: 1.3rem;
}

.nav-link:hover, .navbar-logo:hover {
  color: #daff0a !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-logo
.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.h1-section {
  position: absolute;
  color: white;
  top: 30%;
  left: 10%;
  font-weight: 500;
}

hr {
  height: 5px !important;
  border-radius: 10px !important;
  background: -webkit-gradient(linear, right top, left top, from(blue), to(red)) !important;
  background: linear-gradient(to left, blue, red) !important;
  width: 90% !important;
  margin: 0 auto !important;
}

.readmore {
  background-color: #e5f500 !important;
  text-decoration: none;
  color: black;
  padding: 0.7rem;
  top: 40%;
  left: 35%;
  border-radius: 5%;
  font-weight: 900;
}

.readmore:hover {
  color: red !important;
}

.porfolio-section {
  background: white;
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-bottom: 13rem;
}

.daily-outlay {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.section-title {
  text-align: center;
  padding-top: 7rem;
}

.main-proj-img {
  width: 85%;
  margin: 1rem 0;
}

.secondary-projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondary-project {
  width: 25rem;
  height: 15rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 2%;
  position: relative;
}

.secondary-project:hover .project-link-hide {
  display: block;
}

.secondary-project:hover .proj-captions {
  display: none;
}

#first-project:hover {
  background: none, url(assets/weather/Weatherapp1.png) no-repeat center center;
  background-size: 100% 100%;
}

#second-project:hover {
  background: none, url(assets/shooter/shootter3.png) no-repeat center center;
  background-size: 100% 100%;
}

#fourth-project:hover {
  background: none, url(assets/webScraper/scraped_result.png) no-repeat center center;
  background-size: 100% 100%;
}

#fifth-project:hover {
  background: none, url(assets/concertPage/concertScreenshot.png) no-repeat center center;
  background-size: 100% 100%;
}

#first-project {
  background: linear-gradient(179.35deg, rgba(243, 231, 231, 0.322) 0.85%, #141e30 84%), url(assets/weather/Weatherapp1.png) no-repeat center center;
  background-size: 100% 100%;
}

#second-project {
  background: linear-gradient(179.35deg, rgba(243, 231, 231, 0.322) 0.85%, #141e30 84%), url(assets/shooter/shootter3.png) no-repeat;
  background-size: 100% 100%;
}

#fourth-project {
  background: linear-gradient(179.35deg, rgba(243, 231, 231, 0.322) 0.85%, #141e30 84%), url(assets/webScraper/scraped_result.png) no-repeat center center;
  background-size: 100% 100%;
}

#fifth-project {
  background: linear-gradient(179.35deg, rgba(243, 231, 231, 0.322) 0.85%, #141e30 84%), url(assets/concertPage/concertScreenshot.png) no-repeat center center;
  background-size: 100% 100%;
}

.project-link,
.project-link-hide {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.6rem;
  background-color: #889caa;
  border-radius: 8%;
  margin: 0.1rem;
}

.project-link-hide {
  display: none;
}

.project-link:hover {
  background-color: #667685;
  color: black;
}

.links-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20%;
}

.proj-captions {
  position: absolute;
  color: white;
}

article {
  -webkit-box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.514);
          box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.514);
}

.carus-img {
  max-height: 25rem;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #a5a9b1;
  background-color: #d98312;
}

.modal-content {
  color: black;
}

.project-details {
  padding: 0 2rem;
}

.footer {
  margin: 0 auto;
  padding: 4rem;
  padding-bottom: 0;
  width: 100%;
  height: 50rem;
}

.footer hr {
  color: white;
  width: 90%;
  margin: 0 auto;
}

.readmore:hover {
  background-color: #667685;
  color: black;
  font-weight: 500;
}

.aboutme-section {
  color: white;
  font-weight: 500;
}

.message-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
  margin-left: 0;
}

.in-touch {
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.message-note {
  color: white;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.messsage-form {
  width: 80%;
  padding-top: 1.1rem;
  margin-left: 2rem;
}

.fredImage {
  width: 30%;
  padding-top: 1.1rem;
  margin-left: 2rem;
}

.form-section {
  width: 30%;
  padding-top: 1.1rem;
  margin-left: 2rem;
}

.top-footer-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}

.talent-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  margin: 3rem;
}

.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.footer .social-link-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.footer .social-link-ul .my-link {
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .section-title {
    text-align: center;
    font-weight: 900;
  }
  .first-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-navbar {
    padding: 1rem;
  }
  .social-link-ul {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-link {
    position: static;
    margin-top: 30rem;
  }
  .home-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 2rem;
    margin-bottom: 10rem;
  }
  .abstract-section {
    margin-top: 3rem;
    position: static;
  }
  .h1-section {
    position: static;
  }
  .porfolio-section {
    width: 100%;
  }
  .top-footer-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-section {
    width: 95%;
    margin-top: 3rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .footer {
    height: auto;
    padding: 2rem;
  }
  .social-link-ul {
    padding-bottom: 3rem;
  }
  .abil-h3 {
    font-size: 36px;
    text-align: center;
  }
  .talent-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 24px;
    text-align: center;
  }
  .frameworks {
    margin-top: 3rem;
  }
  .skills {
    margin-top: 3rem;
  }
  .message-me {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .message-note {
    text-align: center;
  }
  .fredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (max-width: 1100px) {
  .form-section {
    margin-top: 2rem;
    width: 95%;
    margin-left: 0;
  }
  .footer {
    height: auto;
  }
  .social-link-ul {
    padding-bottom: 3rem;
  }
  .abstract-image {
    width: 30%;
  }
  .porfolio-section {
    width: 95%;
  }
  .aboutme-section {
    width: 95%;
  }
}

html {
  font-family: "Open sans", sans-serif;
}

body {
  background-color: black !important;
}

button {
  border: none;
}

.home-section {
  height: 40rem;
}

.social-link {
  top: 25%;
  position: absolute;
}

.social-link-ul {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;
}

.my-link {
  margin-top: 1rem;
}

.social-color {
  color: #999;
}

.social-color:hover {
  color: #d4d4d4 !important;
}

.h1-section {
  position: absolute;
  color: white;
  top: 25%;
  left: 10%;
  font-weight: 550;
}

.primary-text {
  font-size: 52px;
  color: #e5f500;
}

.text-h4 {
  margin-bottom: 0.9rem;
  color: white;
}

.abstract-section {
  position: absolute;
  right: 5%;
  top: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.abstract-image {
  width: 50%;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */